# DATA 1 Practical 4

Simos Gerasimou


## Internet Movie Database Exploration and Analysis

**IMDB** ([http://imdb.com](http://imdb.com)) is an online database of information related to films, television programs, home videos, video games, and streaming content online â€“ including cast, production crew and personal biographies, plot summaries, trivia, fan and critical reviews, and ratings. You can find more information at [Wikipedia](https://en.wikipedia.org/wiki/IMDb).

**DataVision** has scraped the website and acquired data for a wide number of movies from IMDB. The company wants to analyse this data to extract insights from its products and answer questions including:
* the most successful movies, directors, actors
* patterns that might lead to predicting successful movies in the future

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to the Warner Bros main stakeholders who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

### **Important Information**

(1) To answer these exercises, you **must first read Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) If you haven't already done so, complete the exercises on Pandas tutorial to become familiar with the library.

**Pandas API Reference**: https://pandas.pydata.org/pandas-docs/stable/reference/index.html

***

### Part 1: Reading dataset

The IMDB dataset is available on VLE (look for IMDB-Movie-Data-Filtered.csv in the Practicals section)

**T1) Load the IMDB dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [ ]:
import pandas as pd 
datasetName = "IMDB-Movie-Data-Filtered.csv"
movies = pd.read_csv(datasetName)

***

### Part 2: Cleaning the dataset

**T2) Print (i) the first and (ii) the last five records of the dataframe**

In [ ]:
# Write your answer here

In [ ]:
# Write your answer here

**T3) Get general info about the dataset**

In [ ]:
# Write your answer here

**T4) Explore the dataset and try to understand the meaning of each column. For each column, write its meaning and its data type. Also, which columns might be irrelevant?**

In [ ]:
#Write your answer here

**T5) Get the shape of the dataframe**

In [ ]:
# Write your answer here

**T6) Get the name of the columns of the dataframe**

In [ ]:
# Write your answer here

**T7) Give more readable names to the columns with suitable capitalisation and eliminating underscores ("_")**

In [ ]:
# Write your answer here

**T8) Find and print the duplicated records**

**Note**: A record is duplicated if all its entries are identical with another record

In [ ]:
# Write your answer here

**T9) Remove all duplicates**

In [ ]:
# Write your answer here

***

### Part 3: Analysing the dataset

**T10)  Get some descriptive statistics for the dataset**

In [ ]:
# Write your answer here

**T11)  For each movie, print its title, director and three main actors**

In [ ]:
# Write your answer here

**T12)  Find the movies with the shortest and longest duration, respectively. What are your observations?**

In [ ]:
# Write your answer here

**T13)  Find the countries in which at least one movie has been recorded**

In [ ]:
# Write your answer here

**T14)  Get the movies with score above 8.3 and duration less than 2h**

In [ ]:
# Write your answer here

**T15)  Find the movies directed by Ridley Scott**

Hint: Slicing may be easier for this task; querying is also doable but slightly more difficult

In [ ]:
# Write your answer here

**T16)  Find the movies in which Hugh Jackman played as 1st, 2nd or 3rd actor**

In [ ]:
# Write your answer here

**T17)  Put the movies into groups depending on their colour and show a summary**

In [ ]:
# Write your answer here

**T18) Get all movies that were released between 2005 and 2010, have a rating above 8.0, but have less income than the estimated budget**

In [ ]:
# Write your answer here

**T19) Get all movies that were released after 2010 (inclusive), have a rating above 8.0 (exclusive), but made below the 25th percentile in revenue.**

In [ ]:
# Write your answer here

**T20) Find out the sum of votes, budget and gross income by year**

In [ ]:
# Write your answer here

**T21) Find out the top ten directors with the highest average score**

In [ ]:
# Write your answer here

### Ideas for practicing at home

* Find the average score, budget and gross income of movies in which Liam Neeson played
* Produce a dataset fragment grouped by Language and/or Country
* Any other analysis that you might could generate some useful insight.
* Try to do Practicals 2 and 3 using Pandas