# DATA 1 Practical 5

Simos Gerasimou


## All You Need to Know About Google Play Store

**Google Play store** ([https://play.google.com/store?hl=en](https://play.google.com/store?hl=en)) is a digital distribution service operated and developed by Google. It serves as the official app store for the Android operating system, allowing users to browse and download applications developed with the Android software development kit (SDK) and published through Google. [Wikipedia](https://en.wikipedia.org/wiki/Google_Play).

**DataVision** has scraped the Google Play store  and acquired data for several Android applications. Since data from the Play Store apps has great potential to drive app-making businesses to success, DataVision wants to investigate whether any actionable insights can be drawn for developers to work on and capture the Android market!

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to  Google stakeholders who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

(1) To answer these exercises, you **must first read Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) If you haven't already done so, complete the exercises on Pandas tutorial to become familiar with the library.

**Pandas API Reference**: https://pandas.pydata.org/pandas-docs/stable/reference/index.html

***

### Part 1: Reading dataset

The Google dataset is available on VLE (look for googleplaystore.csv in the Practicals section)

Before doing the tasks below, you may want to explore the dataset using a spreadsheet editor (e.g., Excel) to get a high-level view of the dataset.

**T1) Load the Google Play Store dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [ ]:
import pandas as pd 
import numpy as np

#Write your answer here
data = pd.read_csv("googleplaystore.csv")

***

### Part 2: Cleaning and analysing the dataset

**T2i) Print the first 10 records of the dataframe**

In [2]:
#Write your answer here
print(data.head(10))

                                                 App        Category  Rating  \
0     Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN     4.1
1                                Coloring book moana  ART_AND_DESIGN     3.9
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ART_AND_DESIGN     4.7
3                              Sketch - Draw & Paint  ART_AND_DESIGN     4.5
4              Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3
5                         Paper flowers instructions  ART_AND_DESIGN     4.4
6            Smoke Effect Photo Maker - Smoke Editor  ART_AND_DESIGN     3.8
7                                   Infinite Painter  ART_AND_DESIGN     4.1
8                               Garden Coloring Book  ART_AND_DESIGN     4.4
9                      Kids Paint Free - Drawing Fun  ART_AND_DESIGN     4.7

   Reviews  Size     Installs  Type Price Content Rating  \
0      159   19M      10,000+  Free     0       Everyone
1      967   14M     500,000+  Free     0       Everyone
2    87510  8.7M   5,000,000+  Free     0       Everyone
3   215644   25M  50,000,000+  Free     0           Teen
4      967  2.8M     100,000+  Free     0       Everyone
5      167  5.6M      50,000+  Free     0       Everyone
6      178   19M      50,000+  Free     0       Everyone
7    36815   29M   1,000,000+  Free     0       Everyone
8    13791   33M   1,000,000+  Free     0       Everyone
9      121  3.1M      10,000+  Free     0       Everyone

                      Genres        Last Updated         Current Ver  \
0               Art & Design     January 7, 2018               1.0.0
1  Art & Design;Pretend Play    January 15, 2018               2.0.0
2               Art & Design      August 1, 2018               1.2.4
3               Art & Design        June 8, 2018  Varies with device
4    Art & Design;Creativity       June 20, 2018                 1.1
5               Art & Design      March 26, 2017                 1.0
6               Art & Design      April 26, 2018                 1.1
7               Art & Design       June 14, 2018            6.1.61.1
8               Art & Design  September 20, 2017               2.9.2
9    Art & Design;Creativity        July 3, 2018                 2.8

    Android Ver
0  4.0.3 and up
1  4.0.3 and up
2  4.0.3 and up
3    4.2 and up
4    4.4 and up
5    2.3 and up
6  4.0.3 and up
7    4.2 and up
8    3.0 and up
9  4.0.3 and up

**T2ii) Print the last 3 records of the dataframe**

In [3]:
#Write your answer here
last_3 = data.tail(10)
print(last_3)

                                                 App             Category  \
10830                       payermonstationnement.fr  MAPS_AND_NAVIGATION
10831                                       FR Tides              WEATHER
10832                                    Chemin (fr)  BOOKS_AND_REFERENCE
10833                                  FR Calculator               FAMILY
10834                                       FR Forms             BUSINESS
10835                               Sya9a Maroc - FR               FAMILY
10836               Fr. Mike Schmitz Audio Teachings               FAMILY
10837                         Parkinson Exercices FR              MEDICAL
10838                  The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10839  iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating  Reviews                Size     Installs  Type Price  \
10830     NaN       38                9.8M       5,000+  Free     0
10831     3.8     1195                582k     100,000+  Free     0
10832     4.8       44                619k       1,000+  Free     0
10833     4.0        7                2.6M         500+  Free     0
10834     NaN        0                9.6M          10+  Free     0
10835     4.5       38                 53M       5,000+  Free     0
10836     5.0        4                3.6M         100+  Free     0
10837     NaN        3                9.5M       1,000+  Free     0
10838     4.5      114  Varies with device       1,000+  Free     0
10839     4.5   398307                 19M  10,000,000+  Free     0

      Content Rating             Genres        Last Updated  \
10830       Everyone  Maps & Navigation       June 13, 2018
10831       Everyone            Weather   February 16, 2014
10832       Everyone  Books & Reference      March 23, 2014
10833       Everyone          Education       June 18, 2017
10834       Everyone           Business  September 29, 2016
10835       Everyone          Education       July 25, 2017
10836       Everyone          Education        July 6, 2018
10837       Everyone            Medical    January 20, 2017
10838     Mature 17+  Books & Reference    January 19, 2015
10839       Everyone          Lifestyle       July 25, 2018

              Current Ver         Android Ver
10830           2.0.148.0          4.0 and up
10831                 6.0          2.1 and up
10832                 0.8          2.2 and up
10833               1.0.0          4.1 and up
10834               1.1.5          4.0 and up
10835                1.48          4.1 and up
10836                 1.0          4.1 and up
10837                 1.0          2.2 and up
10838  Varies with device  Varies with device
10839  Varies with device  Varies with device

**T3) Get general info about the dataset**

In [4]:
#Write your answer here
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

**T4) Explore the dataset and try to understand the meaning of each column. For each column, write its meaning and its data type**

In [5]:
#Write your answer here

**T5) Get the shape of the dataframe**

In [6]:
#Write your answer here
data.shape

(10840, 13)

**T6) Get the name of the columns for the dataframe**

In [7]:
#Write your answer here
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

**T7) Do you think the columns (variables) need to be more readable? If so, rename them (e.g., suitable capitalisation, eliminate underscores, full words)**

In [8]:
#Write your answer here
data.columns = data.columns.str.replace("Ver", "Version")

**T8) How many duplicated records exist?**

**Note**: A record is duplicated if all its entries are identical with another record

In [9]:
#Write your answer here
duplicates = data[data.duplicated()]
print(duplicates)

                                                   App      Category  Rating  \
229                       Quick PDF Scanner + OCR FREE      BUSINESS     4.2
236                                                Box      BUSINESS     4.2
239                                 Google My Business      BUSINESS     4.4
256                                ZOOM Cloud Meetings      BUSINESS     4.4
261                          join.me - Simple Meetings      BUSINESS     4.0
...                                                ...           ...     ...
8643                    Wunderlist: To-Do List & Tasks  PRODUCTIVITY     4.6
8654   TickTick: To Do List with Reminder, Day Planner  PRODUCTIVITY     4.6
8658                           ColorNote Notepad Notes  PRODUCTIVITY     4.6
10049        Airway Ex - Intubate. Anesthetize. Train.       MEDICAL     4.3
10767                                             AAFP       MEDICAL     3.8

       Reviews                Size      Installs  Type Price Content Rating  \
229      80805  Varies with device    5,000,000+  Free     0       Everyone
236     159872  Varies with device   10,000,000+  Free     0       Everyone
239      70991  Varies with device    5,000,000+  Free     0       Everyone
256      31614                 37M   10,000,000+  Free     0       Everyone
261       6989  Varies with device    1,000,000+  Free     0       Everyone
...        ...                 ...           ...   ...   ...            ...
8643    404610  Varies with device   10,000,000+  Free     0       Everyone
8654     25370  Varies with device    1,000,000+  Free     0       Everyone
8658   2401017  Varies with device  100,000,000+  Free     0       Everyone
10049      123                 86M       10,000+  Free     0       Everyone
10767       63                 24M       10,000+  Free     0       Everyone

             Genres       Last Updated     Current Version     Android Version
229        Business  February 26, 2018  Varies with device        4.0.3 and up
236        Business      July 31, 2018  Varies with device  Varies with device
239        Business      July 24, 2018    2.19.0.204537701          4.4 and up
256        Business      July 20, 2018      4.1.28165.0716          4.0 and up
261        Business      July 16, 2018           4.3.0.508          4.4 and up
...             ...                ...                 ...                 ...
8643   Productivity      April 6, 2018  Varies with device  Varies with device
8654   Productivity     August 6, 2018  Varies with device  Varies with device
8658   Productivity      June 27, 2018  Varies with device  Varies with device
10049       Medical       June 1, 2018              0.6.88          5.0 and up
10767       Medical      June 22, 2018               2.3.1          5.0 and up

[483 rows x 13 columns]

**T9i) How many of the duplicated records refer to 'blood pressure' in their name?**

In [37]:
# your answer here
len(duplicates[["blood pressure" in x.lower() for x in duplicates["App"]]])

9

**T9ii) Print the records you found in task T9i**

In [11]:
#Write your answer here

**T10) Let's look more closely into the dataset. Are there more duplicates?**

**Hint:** Check the duplicated function of Pandas to understand how the function operates. Do you need to specify what information to consider when checking for duplicates?

In [12]:
#Write your answer here

**T11) Find the app with the highest number of duplicated records and the number of duplicated records for this app**

**Hint:** How can you count the records of a dataframe?

In [13]:
#Write your answer here
new = data.groupby(data.columns.tolist(), as_index=False).size()
dups = data.groupby(data.columns.tolist()).size().reset_index().rename(columns={0:'count'})
dups.sort_values("count", ascending=False).head(7)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Version,Android Version,count
1658,"CBS Sports App - Scores, News, Stats & Watch Live",SPORTS,4.3,91031,Varies with device,"5,000,000+",Free,0,Everyone,Sports,"August 4, 2018",Varies with device,5.0 and up,4
5919,Nick,ENTERTAINMENT,4.2,123279,25M,"10,000,000+",Free,0,Everyone 10+,Entertainment;Music & Video,"January 24, 2018",2.0.8,4.4 and up,4
6562,Quizlet: Learn Languages & Vocab with Flashcards,EDUCATION,4.6,211856,Varies with device,"10,000,000+",Free,0,Everyone,Education,"August 1, 2018",Varies with device,Varies with device,4
8205,WatchESPN,SPORTS,4.1,288809,6.6M,"10,000,000+",Free,0,Everyone,Sports,"September 27, 2017",2.5.1,4.4 and up,4
8672,eBay: Buy & Sell this Summer - Discover Deals ...,SHOPPING,4.4,2788923,Varies with device,"100,000,000+",Free,0,Teen,Shopping,"July 30, 2018",Varies with device,Varies with device,4
7116,Skyscanner,TRAVEL_AND_LOCAL,4.5,481546,29M,"10,000,000+",Free,0,Everyone,Travel & Local,"August 6, 2018",5.48,4.4 and up,4
4268,Google Keep,PRODUCTIVITY,4.4,691474,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device,4

**T12) Investigate the records for the app you found in task T10. What can you observe? Can you identiy the reason why the duplicate records exist?**

In [14]:
#Write your answer here
theyre famous companies so people are trying to get money

SyntaxError: invalid syntax (<ipython-input-14-279f491e322d>, line 2)

**T13) Assuming that the data has been scaped sequentially, remove all duplicates by specifying which record to keep**

**Hint:** You may want to check the documentation of the drop_duplicates function

In [16]:
#Write your answer here
data_no_dups = data.drop_duplicates(keep='first')

**T14i) Check the type of variable indicating the last timethe application was update and convert it into the appropriate format**

**Hint:** 

* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

* Pay attention to the date format and the month type

* You may also want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [17]:
#Write your answer here

**T14ii) Which application was updated least recently and when did this happen?**

In [18]:
#Write your answer here

**T15) How many unique values exist under the Price variable? Print the first five unique prices.**

In [19]:
#Write your answer here
data_no_dups['Price'].unique()[0:5]

array(['0', '$4.99', '$3.99', '$6.99', '$1.49'], dtype=object)

**T16i) Write a function moneyWithoutCurrencySymbol that takes a string and returns the string as a float without the currency symbol (if exists)**

In [20]:
#Write your answer here
import re
def moneyWithoutCurrencySymbol(value):
    return float(re.findall(r'\d+',value)[0])

**T16ii) Perform the necessary processing tasks to convert the Price variable into a float**

**Hint:**

* You may want to use the function from task T16i
* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html
* Alternatively, you may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html

In [21]:
#Write your answer here
data_prices = data_no_dups['Price'].apply(moneyWithoutCurrencySymbol)
print(data_prices)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
10835    0.0
10836    0.0
10837    0.0
10838    0.0
10839    0.0
Name: Price, Length: 10357, dtype: float64

**T17i) How many missing data exist for each variable? Is this a messy or a clean dataset?**

In [22]:
#Write your answer here
missing_data = data_prices.isna().sum()
missing_data

0

**T17ii) Impute the categorical columns with the mode value**

**Hint:** Check Chapter 3 of the Python Data Science Handbook

In [23]:
#Write your answer here

**T17iii) What would be an appropriate value to impute for the other variable? Apply the imputation.**

In [24]:
#Write your answer here

**T18i) Which are the possible values for the variable Installs?**

In [25]:
#Write your answer here
print(data["Installs"])

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10835         5,000+
10836           100+
10837         1,000+
10838         1,000+
10839    10,000,000+
Name: Installs, Length: 10840, dtype: object

**T18ii) Based on the result from task T18i, do you see any odd value? Do think any cleaning is needed?**

In [26]:
#Write your answer here

**T18iii) If you did any cleaning in task T18ii, check that the cleaning has taken place**

In [27]:
#Write your answer here

**T19i) Perform the necessary processing tasks to convert the Size variable into a float using a common metric (i.e., which will enable to compare records between each other using the size value). Set records whose value is "Varies with device" to 1**

In [28]:
#Write your answer here

**T19ii) Which is the smallest application and what is its size?**

In [29]:
#Write your answer here

**T19iii) What is the most common Category of the largest applications and which applications belong to this Category?**

In [30]:
#Write your answer here

**T20) Are there any logical errors in the Type and Price variables? Are there any applications whose type if Free and you have to pay? Are there any application with type Paid which you can get for free? Check the integrity of the dataset using these conditions**

In [31]:
#Write your answer here

**T21) A reviewer of an application may or may not rate the review. Check the consistency of the dataset concerning this matter**

In [32]:
#Write your answer here

**T22) Get some descriptive statistics for the dataset**

In [33]:
#Write your answer here
data.describe()

            Rating       Reviews
count  9366.000000  1.084000e+04
mean      4.191757  4.441529e+05
std       0.515219  2.927761e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.477550e+04
max       5.000000  7.815831e+07

**T23) Create a new column that indicates the difference between the Last Updated variable column and the current date.**

In [34]:
#Write your answer here

**T24) (Funny) What is weird about the most expensive appslications which are at or above the 99.9th percentile?**

In [35]:
#Write your answer here
data.loc[data_prices.index[data_prices > data_prices.quantile(0.999)][0]]

App               I'm Rich - Trump Edition
Category                         LIFESTYLE
Rating                                 3.6
Reviews                                275
Size                                  7.3M
Installs                           10,000+
Type                                  Paid
Price                              $400.00
Content Rating                    Everyone
Genres                           Lifestyle
Last Updated                   May 3, 2018
Current Ver                          1.0.1
Android Ver                     4.1 and up
Name: 4367, dtype: object

### Should you finish earlier/want to practice at home, you could

* Check that the Price variable does not have logical error (values below 0)
* Check that the values of Rating variable is within the limits [0,5]
* Any other analysis that you might could generate some useful insight.
* Try to visualise elements from Practical 2