# DATA 1 Practical 6

Simos Gerasimou


## A Data Journey Through The Titanic

On April 15, 1912, during her maiden voyage from Southampton to New York, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg ([Wikipedia](https://en.wikipedia.org/wiki/RMS_Titanic)). As it was considered “unsinkable”, the Titanic did not carry enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

**DataVision** has been commissioned by Her Majesty The Queen to investigate the conditions in which people survived and whether this was because of luck or whether some groups were more likely to survive than others. If discrimination due to gender or socio-economic class is identified, the Queen intends to use this information to change the cruise policies accordinly. 

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to  the House of Commons  who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

#### Note: You are advised to use Pandas. For the visualisation, you can use Pandas, Matplotlib or Seaborn.

To answer these exercises, you should first read:

(1)  Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) Chapter 4: Visualization with Matplotlib (https://jakevdp.github.io/PythonDataScienceHandbook/04.00-introduction-to-matplotlib.html)



* Seaborn API: https://seaborn.pydata.org/api.html

***

### Part 1: Reading dataset


The Titanic dataset is available on VLE (look for titanicFull.csv in the Practicals section)

Before doing the tasks below, you may want to explore the dataset using a spreadsheet editor (e.g., Excel) to get a high-level view of the dataset.

**T1) Load the Titanic dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [7]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Write your answer here
data = pd.read_csv('titanicFull.csv')

int

***

### Part 2: Cleaning the dataset

**T2i) Print the first 4 records of the dataset**

In [3]:
#Write your answer here
print(data.head(4))

   pclass  survived                                  name     sex    age  \
0       1         1         Allen, Miss. Elisabeth Walton  female  29.00
1       1         1        Allison, Master. Hudson Trevor    male   0.92
2       1         0          Allison, Miss. Helen Loraine  female   2.00
3       1         0  Allison, Mr. Hudson Joshua Creighton    male  30.00

   sibsp  parch  ticket      fare    cabin embarked
0      0      0   24160  211.3375       B5        S
1      1      2  113781  151.5500  C22 C26        S
2      1      2  113781  151.5500  C22 C26        S
3      1      2  113781  151.5500  C22 C26        S

**T2ii) Print the last 6 records of the dataset**

In [4]:
#Write your answer here
print(data.tail(6))

      pclass  survived                       name     sex   age  sibsp  parch  \
1303       3         0      Yousseff, Mr. Gerious    male   NaN      0      0
1304       3         0       Zabour, Miss. Hileni  female  14.5      1      0
1305       3         0      Zabour, Miss. Thamine  female   NaN      1      0
1306       3         0  Zakarian, Mr. Mapriededer    male  26.5      0      0
1307       3         0        Zakarian, Mr. Ortin    male  27.0      0      0
1308       3         0         Zimmerman, Mr. Leo    male  29.0      0      0

      ticket     fare cabin embarked
1303    2627  14.4583   NaN        C
1304    2665  14.4542   NaN        C
1305    2665  14.4542   NaN        C
1306    2656   7.2250   NaN        C
1307    2670   7.2250   NaN        C
1308  315082   7.8750   NaN        S

**T3) Get general info about the dataset**

In [5]:
#Write your answer here
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   name      1309 non-null   object
 3   sex       1309 non-null   object
 4   age       1046 non-null   float64
 5   sibsp     1309 non-null   int64
 6   parch     1309 non-null   int64
 7   ticket    1309 non-null   object
 8   fare      1308 non-null   float64
 9   cabin     295 non-null    object
 10  embarked  1307 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

**T4) Explore the dataset and try to understand the meaning of each variable (column). Identify which variables are categorical and which are numerical.**

**Note**: Inferring the meaning of variables 'Pclass', 'SibSp', 'Parch' could be challenging; think of what is missing from the dataset and what types of people were travelling on the Titanic. If you find it more difficult, the answer is at the end of this notebook

In [6]:
#Write your answer here

**T5) Get the shape of the dataframe**

In [7]:
#Write your answer here
data.shape

(1309, 11)

**T6) Get the name of the columns for the dataframe**

In [8]:
#Write your answer here
data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked'],
      dtype='object')

**T7) Do you think the columns (variables) need to be more readable? In particular, those that you might have found difficult to understand in T4**

In [9]:
#Write your answer here

**T8) Are there any duplicated records?**

In [10]:
#Write your answer here
data[data.duplicated()]
# there are no duplicates

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked]
Index: []

**T9) Copy the dataset so that you manipulate the copied dataset and leave the original unaffected**

**Hint**: Check the pandas documentation for help on how to copy the dataframe

In [11]:
#Write your answer here
new_df = data.copy(deep=True)

**T10) Create a new dataframe in which**
* **a Missing variable (column) indicates the number of missing data for each variable in the titanic dataset**
* **a Percentage variable indicates the percentage of the missing data over the size of the titanic dataset**

**Print the records in this new dataframe sorted in descending order**

In [12]:
#Write your answer here
vals = []
cnt = 0
for _, row in new_df.iterrows():
    for val in new_df.columns:
        if pd.isnull(row[val]):
            cnt += 1
    vals.append(cnt)
    cnt = 0
new_df["Missing Variables"] = vals
new_df["Percentage"] = len(vals) / len(new_df)
print(len(vals))
new_df.sort_values("Missing Variables",ascending=False).head(10)

1309

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,Missing Variables,Percentage
987,3,0,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q,2,1.0
775,3,0,"Doharr, Mr. Tannous",male,NaN,0,0,2686,7.2292,NaN,C,2,1.0
1135,3,0,"Radeff, Mr. Alexander",male,NaN,0,0,349223,7.8958,NaN,S,2,1.0
842,3,0,"Hagland, Mr. Ingvald Olai Olsen",male,NaN,1,0,65303,19.9667,NaN,S,2,1.0
767,3,0,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S,2,1.0
1132,3,0,"Plotcharsky, Mr. Vasil",male,NaN,0,0,349227,7.8958,NaN,S,2,1.0
184,1,0,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C,2,1.0
768,3,0,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S,2,1.0
483,2,1,"Leitch, Miss. Jessie Wills",female,NaN,0,0,248727,33.0000,NaN,S,2,1.0
1128,3,0,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S,2,1.0

**T11) What should we do with the variable with the highest number of missing data. Consider the amount of missing data compared to the total number of available data.**

In [13]:
#Write your answer here

**T12) Impute the categorical variable (just one) with the mode value**

In [14]:
#Write your answer here
new_df["age"] = new_df["age"].fillna(new_df["age"].mode()[0])

**T13i) Plot the histogram of the numeric variable with the largest number of missing data so as to determine the best value to fill in the missing data. Add suitable title and axis names.**

**Note: You may want to use the native Pandas visualisation, matplotlib or seaborn**

**Hint**: Check the relevant section from the Python Data Science Handbook (https://jakevdp.github.io/PythonDataScienceHandbook/04.05-histograms-and-binnings.html) or the Pandas documentation (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.hist.html)

In [15]:
#Write your answer here
for col, row in data.iterrows():
    print(col)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308

**T13ii) Impute the numeric variable (just one) with an appropriate value**

* What value does it make sense to impute for this variable?

In [16]:
#Write your answer here

**T13iii) Plot the histogram again for the variable from task T13 after imputation and observe how the distribution has changed.**

In [17]:
#Write your answer here

**T14) What should you do about the missing value (one) of the final variable? Select the best imputation strategy and apply it**

**Hint:** You may want to consider additional factors and use a more sophisticated imputation strategy

In [18]:
#Write your answer here

**T15i) Save the cleaned dataframe as a csv file with name "titanicClean.csv"**

**Hint: Check the Pandas to_csv function**

In [19]:
#Write your answer here

**T15ii) Load the cleaned dataset into a new dataframe**

In [20]:
#Write your answer here

***

### Part 3: Analysing the dataset

**T16) Get some descriptive statistics for the dataset selecting only the variables for which the descriptive statistics make sense**

In [21]:
#Write your answer here

**T17i) For each passenger, find out how many family members she/he has in total and store this information as a new variable in the dataframe**

In [22]:
#Write your answer here

**T17ii) Print the records for the family with surname "Palsson" and confirm that the result from task T17i is correct**

In [23]:
#Write your answer here

**T18): Find out and print the details of the biggest family on board**

**Hint: You may want to check https://en.wikipedia.org/wiki/Passengers_of_the_Titanic or https://titanicfacts.net/titanic-passenger-list**

Also read: https://en.wikipedia.org/wiki/Passengers_of_the_Titanic#Third_class

In [24]:
#Write your answer here

**T19i) How was the ticket fare for class 1 distributed? Generate a boxplot and investigate whether there are any interesting insights**

**Hint**: You may want to check: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.boxplot.html

In [25]:
#Write your answer here

**T19ii) Do you see any weird fare values? Check if there are any outliers for the ticket fares of class 1 using the standard deviation method.**

In [26]:
#Write your answer here

**T19iii) Print the information for those passengers**

You can read the interesting story of the passengers and their families at:
- https://www.encyclopedia-titanica.org/titanic-survivor/charlotte-cardeza.html
- https://www.encyclopedia-titanica.org/titanic-survivor/annie-moore-ward.html

In [27]:
#Write your answer here

**T20) Given that Titanic stopped in three ports (C = Cherbourg, Q = Queenstown, S = Southampton) before departing from the UK, can we identify any patterns regarding the ports at which passengers embarked on the Titanic? Produce a bar plot to illustrate this**

**Hint:** You may want to check: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.bar.html

In [28]:
#Write your answer here

### Brain Teaser
**Generate a new column 'Title' that includes the title of each passenger and has only the following entries:**
* Master, Miss, Mr, Mss 

where
* Miss includes also Mlle and Ms
* Mme includes also Mrs
* all the remaining titles become Rare

In [29]:
#Write your answer here

In [30]:
# Answers to T4
# - Pclass     Ticket class	     
# - SibSp      # of siblings/spouses aboard the Titanic
# - Parch      # of parents / children aboard the Titanic